
<div class="multi-column-adaptive">
  <div class="container">
    <ul class="list-reset">

      <li class="multi-column-adaptive__wrapper">
        <div class="image">
          <img src="../img/200x250.svg" alt="">
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident inventore odio minus laudantium maxime dolorem vel suscipit necessitatibus sit quia?
        </p>
        <button class="btn-reset btn">Button</button>
      </li>
  
      <li class="multi-column-adaptive__wrapper">
        <div class="image">
          <img src="../img/200x250.svg" alt="">
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <button class="btn-reset btn">Button</button>
      </li>
  
      <li class="multi-column-adaptive__wrapper">
        <div class="image">
          <img src="../img/200x250.svg" alt="">
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident inventore odio minus laudantium maxime dolorem vel suscipit necessitatibus sit quia?
        </p>
        <button class="btn-reset btn">Button</button>
      </li>
      
      <li class="multi-column-adaptive__wrapper">
        <div class="image">
          <img src="../img/200x250.svg" alt="">
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident inventore odio minus laudantium maxime dolorem vel suscipit necessitatibus sit quia?
        </p>
        <button class="btn-reset btn">Button</button>
      </li>

      <li class="multi-column-adaptive__wrapper">
        <div class="image">
          <img src="../img/200x250.svg" alt="">
        </div>
        <p>

        </p>
        <button class="btn-reset btn">Button</button>
      </li>

      <li class="multi-column-adaptive__wrapper">
        <div class="image">
          <img src="../img/200x250.svg" alt="">
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident inventore odio minus laudantium maxime dolorem vel suscipit necessitatibus sit quia?
        </p>
        <button class="btn-reset btn">Button</button>
      </li>
  
    </ul>
  </div>
</div>
