<div class="container images__container">
  <!-- <div class="img-wrapper"><img style="height: 5px;" src="../img/slider-bg/330_232.jpg" alt="Image" /></div> -->

  <!-- <img src="../img/slider-bg/01.jpg" alt="Image" /> -->

  <div class="img-wrapper">
    <img src="../img/test/1300x200.jpg" alt="Image" />
  </div>
  <!-- <div style="text-align: right">
    <img src="../img/test/1300x400.jpg" alt="Image" />
  </div>
  <div>
    <img src="../img/test/400x600.jpg" alt="Image" />
  </div>
  <div>
    <img src="../img/test/800x400.jpg" alt="Image" />
  </div> -->

  <div class="images__row">
    <div class="images__card">
      <div class="images__img">
        <img src="../img/test/1300x400.jpg" alt="Image" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, unde
        ullam corrupti tempore iure dicta!
      </p>
    </div>
    <div class="images__card">
      <div class="images__img">
        <img src="../img/test/800x400.jpg" alt="Image" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, unde
        ullam corrupti tempore iure dicta! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Porro, unde ullam corrupti tempore iure
        dicta!
      </p>
    </div>
    <div class="images__card">
      <div class="images__img">
        <img src="../img/test/400x600.jpg" alt="Image" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, unde
        ullam corrupti tempore iure dicta!
      </p>
    </div>
  </div>

  <div class="images__column">
    <div class="images__card-item">
      <div class="images__img-column">
        <img src="../img/test/1300x400.jpg" alt="Image" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, unde
        ullam corrupti tempore iure dicta!
      </p>
    </div>
    <div class="images__card-item">
      <div class="images__img-column">
        <img src="../img/test/800x400.jpg" alt="Image" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, unde
        ullam corrupti tempore iure dicta! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Porro, unde ullam corrupti tempore iure
        dicta!
      </p>
    </div>
    <div class="images__card-item">
      <div class="images__img-column">
        <img src="../img/test/400x600.jpg" alt="Image" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, unde
        ullam corrupti tempore iure dicta!
      </p>
    </div>
  </div>
</div>
