<div class="container">
  <h1>Работаем с Locale Storage</h1>
  <form action="/success.html" id="localestorageform">
    <div class="form-group">
      <label
        >Login
        <input type="text" class="form-control" name="login" />
      </label>
      <label
        >Email
        <input type="email" class="form-control" name="email" />
      </label>
    </div>
    <div class="form-group">
      <label
        >Phone
        <input type="tel" class="form-control" name="phone" />
      </label>
      <label
        >Zip
        <input type="text" class="form-control" name="zip" />
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" name="news"/>
        Subscribe to Newsletters
      </label>
    </div>
    <input type="submit" value="Submit" class="btn-reset btn" />
  </form>
  <input type="checkbox">
</div>
