<div class="main-banner">
  <div class="container">
    <div class="main-banner__container">
      <!-- Slider main container -->
      <div class="swiper main-banner__content">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="main-banner__item">
              <img src="./img/products/product-1.png" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-banner__item">
              <img src="./img/products/product-2.png" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-banner__item">
              <img src="./img/products/product-3.png" alt="" />
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>