<section class="video-section">
  <div class="container">
    <div class="video-block">
      <button class="btn-reset video-block__play" aria-label="Play video">
        <svg class="">
          <use xlink:href="img/sprite.svg#play-arrow"></use>
        </svg>
      </button>
      <button class="btn-reset video-block__muted" aria-label="Muted video">
        <svg class="">
          <use xlink:href="img/sprite.svg#volume-off"></use>
        </svg>
      </button>
      <video class="video-block__content" src="about-video.mp4" muted loop preload="metadata"></video>
    </div>
  </div>
</section>