.header {
  height: 100vh;
  position: relative;
  background-color: #c4c4c4;
  color: hsl(0, 0%, 100%);
  background-image: url(./../img/slider-bg/01.jpg);

  a {
    color: #fff;
  }

  &__content {
    position: absolute;
    z-index: 9;
    top: 50px;
    left: 70px;
    right: 70px;
    bottom: 80px;

    pointer-events: none;

    background-color: rgba(255, 255, 255, 0.157);

    @media (max-width: 1200px) {
      top: 40px;
      left: 40px;
      right: 40px;
      bottom: 60px;
    }

    @media (max-width: 767px) {
      top: 30px;
      left: 5%;
      right: 5%;
      bottom: 30px;
    }
  }

  &__nav {
  }

  &__socials {
  }

  &__see-more {
  }

  &__slider-controls {
  }

  &__scrollbar {
  }
}


// header__content будет поверх слайдера и будет перекрывать его
// поэтому pointer-events: none;


// &__content {
//   position: absolute;
//   z-index: 9;
// }

// для того что бы работал и слайдер и header__content
