<!-- <button data-modal-btn-open="modal-1">   ==>   <div id="modal-1" data-modal class="fade-block"> -->

<div class="container">
  <button data-modal-btn-open="modal-1" class="btn-reset btn" type="button">
    Open Modal
  </button>

  <div id="modal-1" data-modal class="modal modal-hidden">
    <div class="fade-block">
      <div class="modal-window">
        <div class="modal-content">
          <header class="modal-header">
            <h2 class="modal-title">Modal title</h2>
            <button
              type="button"
              class="reset-btn btn close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </header>
          <div class="modal-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            aliquid fuga suscipit ipsum quod est reprehenderit sint ex
            voluptatum, ullam at quae soluta repellendus ab, architecto
            explicabo accusantium assumenda, magnam dicta recusandae inventore
            praesentium! Nesciunt repellendus officiis fuga maxime magni
            repellat, possimus asperiores ut quas voluptatem atque sapiente
            cupiditate quis pariatur quibusdam.
          </div>
          <footer class="modal-footer">
            <button type="button" class="btn-reset btn" data-modal-btn-close>
              Close
            </button>
            <button type="button" class="btn-reset btn">Understood</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
