<!-- Табы Макс -->

<!-- <div class="tabs">
  <ul class="list-reset tabs__list">
    <li class="tabs__item"><button class="btn-reset btn tabs__btn tabs__btn--active" data-tabs-path="1">Button 1</button></li>
    <li class="tabs__item"><button class="btn-reset btn tabs__btn" data-tabs-path="2">Button 2</button></li>
    <li class="tabs__item"><button class="btn-reset btn tabs__btn" data-tabs-path="3">Button 3</button></li>
  </ul>
  <div class="tabs__content tabs__content--active" data-tabs-target="1">
    <div class="content-tabs">
      1. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro aliquid illum dolor fugit! Eveniet, distinctio a. Ipsa nobis molestiae nulla aperiam quod nihil, quis sint quae voluptates voluptatem repellat consequuntur?
    </div>
  </div>
  <div class="tabs__content" data-tabs-target="2">
    <div class="content-tabs">
      2. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro aliquid illum dolor fugit! Eveniet, distinctio a. Ipsa nobis molestiae nulla aperiam quod nihil, quis sint quae voluptates voluptatem repellat consequuntur?
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro aliquid illum dolor fugit! Eveniet, distinctio a. Ipsa nobis molestiae nulla aperiam quod nihil, quis sint quae voluptates voluptatem repellat consequuntur?
    </div>
  </div>
  <div class="tabs__content" data-tabs-target="3">
    <div class="content-tabs">
      3. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro aliquid illum dolor fugit! Eveniet, distinctio a. Ipsa nobis molestiae nulla aperiam quod nihil, quis sint quae voluptates voluptatem repellat consequuntur?
    </div>
  </div>
  <button class="btn-reset btn tabs__arrow tabs__arrow--prev" aria-label="Назад"><img src="./../img/svg/navigate-before-white.svg" alt="" class="tabs__img icon"></button>
  <button class="btn-reset btn tabs__arrow tabs__arrow--next" aria-label="Вперед"><img src="./../img/svg/navigate-next-white.svg" alt="" class="tabs__img icon"></button>
</div> -->

<!-- ================================================================= -->
<!-- Рабочие табы -->
<!-- ================================================================= -->

<div class="container">
  <div class="tabs-container">
    <h1 class="mb-4">Табы</h1>

    <div class="tabs" id="mytab-2">
      <ul class="list-group list-group-horizontal-xl mb-3">
        <li class="list-group-item" data-tab="tab-1">Таб 1</li>
        <li class="list-group-item" data-tab="tab-2">Таб 2</li>
        <li class="list-group-item" data-tab="tab-3">Таб 3</li>
      </ul>

      <div class="card p-3" data-tab-content="tab-1">
        <h3>Таб 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
          ducimus fugit corrupti culpa libero quam mollitia magni pariatur, quos
          soluta commodi porro voluptatem!
        </p>
      </div>

      <div class="card p-3 hidden" data-tab-content="tab-2">
        <h3>Таб 2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
          ducimus fugit corrupti culpa libero quam mollitia magni pariatur, quos
          soluta commodi porro voluptatem!
        </p>
      </div>

      <div class="card p-3 hidden" data-tab-content="tab-3">
        <h3>Таб 3</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
          ducimus fugit corrupti culpa libero quam mollitia magni pariatur, quos
          soluta commodi porro voluptatem!
        </p>
      </div>
    </div>
  </div>
</div>
