<section class="subscribe">
  <div class="container">
    <div class="subscribe__container">
      <h2 class="subscribe__title">Підпишіться на наші новини</h2>
      <form class="subscribe__form" action="#" name="subscribe">
        <section id="form-fields">
          <div class="form-field">
            <input class="email" type="email" name="email" placeholder="E-mail" />
            <!-- <p class="error" name="emailError">Введіть пошту правильно</p> -->
            <button class="btn-reset btn subscribe__btn" type="submit">Підписатися</button>
          </div>
          <div class="form-field">
            <div class="custom-checkbox">
              <input class="custom-checkbox__input" id="subscribe" type="checkbox"/>
              <label for="subscribe" class="custom-checkbox__label">Згоден на обробку персональних даних</label>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
